<a href="https://colab.research.google.com/github/chinnuzz/python/blob/main/python_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1.Python program to find area of a triangle**

In [ ]:
a = float(input("Enter 1st side : "))
b = float(input("Enter 2nd side : "))
c = float(input("Enter 3rd side : "))

s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print('The area of the triangle is %0.2f' %area)

Enter 1st side : 20
Enter 2nd side : 20
Enter 3rd side : 10
The area of the triangle is 96.82

### **2.Python program to check leap year**

In [ ]:
year = int(input("Enter a year : "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

Enter a year : 2011
2011 is not a leap year

### **3.Python program to check if a number is positive or negative or zero**

In [ ]:
num = float(input("Enter a number: "))  
  
if num > 0:  
 print("{0} is a positive number".format(num))  
elif num == 0:  
   print("{0} is zero".format(num))   
else:  
   print("{0} is negative number".format(num))

Enter a number: 15
15.0 is a positive number

### **4.Python Program to Search the Number of Times a Particular Number Occurs in a List**

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
k=0
num=int(input("Enter the number to be counted:"))
for j in a:
    if(j==num):
        k=k+1
print("Number of times",num,"appears is",k)

Enter number of elements:4
Enter element:2
Enter element:4
Enter element:2
Enter element:2
Enter the number to be counted:2
Number of times 2 appears is 3

### **5.Python Program Using Remove Duplicates Function**

In [ ]:
def remove_duplicates(lista):
    lista2 = [2,4,6] 
    for item in lista:
        if item not in lista2: 
            lista2.append(item)
        else: 
            print ("Item ", item, " already in lista2; item not added.")
    return lista2
print("Here is the list, with unique values: ", remove_duplicates([1,2,3,3]))

Item  2  already in lista2; item not added.
Item  3  already in lista2; item not added.
Here is the list, with unique values:  [2, 4, 6, 1, 3]

### **6.Python Program to Convert Decimal to Binary, Octal and Hexadecimal**

In [ ]:
dec = int(input("Enter a decimal number : "))

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

Enter a decimal number : 344
The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

### **7.Python program to test whether a passed letter is a vowel or not**

In [ ]:
s = input("Enter the string : ")
for i,v in enumerate(s):
  if(v=='A' or v=='a' or v=='E' or v =='e' or v=='I'
 or v=='i' or v=='O' or v=='o' or v=='U' or v=='u'):
    print("%s is a vowel at position %d"%(v,i))

Enter the string : Asritha
A is a vowel at position 0
i is a vowel at position 3
a is a vowel at position 6

### **8.Python program to Print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 250 in the sequence (You can use continue statement)**
### **numbers = [3,8,111,140,320,223,240,311,400,220]**

In [ ]:
numbers = [    
    3,8,111,140,320,223,240,311,400,220
    ]
x = len(numbers)
for n in numbers:
    if n == 250:
        print(n)
        break;
    elif n % 2 == 0:
        print(n)

8
140
320
240
400
220

### **9.Python program to print out all numbers from num_arr1 which are not present in num_arr2(You can use two loops,else statements)**
### **num_arr1 = [2,5,6,7,8]**
### **num_arr2 = [2,4,6,8,9,10]**

In [ ]:
import numpy as np
num_arr1 = [2,5,6,7,8]
num_arr2 = [2,4,6,8,9,10]
print("num_arr1:",num_arr1)
print("num_arr2:",num_arr2)
print("Numbers that not present in second: ")
main_list = np.setdiff1d(num_arr1,num_arr2)
print(main_list)

num_arr1: [2, 5, 6, 7, 8]
num_arr2: [2, 4, 6, 8, 9, 10]
Numbers that not present in second:
[5 7]

### **10.Python program to count number of digits in an integer using a loop**

In [ ]:
a = int(input("Enter number:"))
count = 0
while(a > 0):
    count=count+1
    a = a//10
print("The number of digits in the number are:",count)

Enter number:356
The number of digits in the number are: 3

### **11.Create a Histogram like this**
###**@**
###**@ @**
###**@ @ @**
###**@ @ @ @**
### **Character to print -> @**
### **Format of histagram -> 2, 3, 6, 5**

In [ ]:
a = [2,3,6,5]
for i in a:
  while i > 0:
    print("@", end = " ")
    i = i - 1
  print(" ")

@ @
@ @ @
@ @ @ @ @ @
@ @ @ @ @

### **12.Python program to create a student dictionary now iterate over dictuonary using for loop to print all details**

In [ ]:
student = dict()
student["Name"] = input("Enter the student name : ")
student["Age"] = input("Enter the student age : ")
student["Place"] = input("Enter the student place : ")
student["Course"] = input("Enter the student course : ")
student["Mark"] = float(input("Enter the student mark : "))
print(student)
print("Student Details : ")
for key in student:
  print("%s-%s"%(key,student[key]))

Enter the student name : Asritha
Enter the student age : 21
Enter the student place : Chendayad
Enter the student course : Msc Computer Science
Enter the student mark : 55
{'Name': 'Asritha', 'Age': '21', 'Place': 'Chendayad', 'Course': 'Msc Computer Science', 'Mark': 55.0}
Student Details :
Name-Asritha
Age-21
Place-Chendayad
Course-Msc Computer Science
Mark-55.0

### **13.Python program to print the pyramid of numbers using for loops**

In [ ]:
def pattern(n):
  x = 0
  for i in range(0,n):
    x += 1
    for j in range(0,i + 1):
      print(x, end= " ")
    print("\r")
n = int(input("Enter the number : "))
pattern(n)

Enter the number : 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### **14.Python program to find the number of and sum of all integers greater than 100 and less than 200 that are divisible by 7**

In [ ]:
value = 100
count = 0
sum = 0
a = list()
while True:
  value = value+1
  if value > 200:
    break
  elif value%7 == 0:
    count+=1
    sum+=value
    a.append(value)
  else:
    continue
print("The numbers are : ",a)
print("The count is : ",count)
print("The sum is : " ,sum)

The numbers are :  [105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196]
The count is :  14
The sum is :  2107

### **15.Python program to Throw an ArithmeticError if sum of two numbers is negative**

In [ ]:
a = int(input("Enter the first number : "))
b = int(input("Enter the second number : "))
c = a + b
if c < 0 :
  raise ArithmeticError("Sorry,The sum of the numbers cannot be less than 0")
else :
 print("The sum is : ",c)

Enter the first number : 20
Enter the second number : -30

ArithmeticError: ignored